@font-face {
    font-family: 'raavi';
    src: url('fonts/raavi.ttf');
}
@font-face {
    font-family: 'DINPro-Regular_13937';
    src: url('fonts/DINPro-Regular_13937.ttf');
}
@font-face {
    font-family: 'CPMono_v07_Plain';
    src: url('fonts/CPMono_v07_Plain.otf');
}
@font-face {
    font-family: 'raavib';
    src: url('fonts/raavib.tff');
}

fade {
  position: fixed;
  width:100vw;
  height: 100vh;
  left:0;
  top:0;
  z-index: -1;
  background-color: rgba(10, 44, 65, 0.94);
}
body {
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0A2C41;
  background-image: url('http://i.imgur.com/HpRSKN0.png');
  background-size: cover;
  background-position: 40% 36.5%;
}
.page-title {
  position: relative;
  width:100%;
  text-align: center;
  margin:0;
  padding: 0;
  font-family: 'DINPro-Regular_13937';
  text-transform: uppercase;
  color:white;
  font-size:32px;
  margin-top: 40px;
  font-weight: 300;
}
.page-title::before {
  content: '';
  position: relative;

}
.page-title span {
  color:#1B7CBD;
}
.banner-link {
  position: relative;
  top:50px;
  background-image: url('http://i.imgur.com/Zz5lwuq.jpg');
  background-size: 100%;
  width:100%;
  height: 16.96vw;
  text-align: center;
  background-position: center;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  transition: all .25s ease-in-out;
}
.banner-link::after {
  content: '';
  position: absolute;
  width:170px;
  height: 200px;
  display: inline-block;
  right:-95px;
  top:-110px;
  background-color: #1B7CBD;
  transform: rotate(45deg);
}
.banner-link .price-tag {
  right:13px;
}
.banner-link:hover {
  background-size: 120%;
  background-position: center;
}
.banner-link::before {
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.70);
  transition: all .15s ease-in-out;
}
.banner-link:hover::before {
  background-color: rgba(0, 0, 0, 0.80);
}
.banner-link:hover .view-project::after {
  width:150%;
  left:-25%;
}
.image-text {
  position: relative;
  display: inline-block;
  color:white;
  font-family: 'CPMono_v07_Plain';
  font-size: 39px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 10vw;
}
.view-project {
  position: relative;
  text-transform: uppercase;
  font-size: 'DINPro-Regular_13937';
  color:white;
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
.view-project::after {
  content: '';
  position: absolute;
  left:7%;
  bottom:0;
  width:86%;
  height: 1px;
  background-color: white;
  transition: all .25s ease-in-out;
}
.image-link {
  width:30vw;
  position: relative;
  display: inline-block;
  height: 17vw;
  margin-top: 4vw;
  text-align: center;
  text-decoration: none;
  margin-left: 2.3vw;
  margin-bottom: 12.5vh;
  overflow: hidden;
  background-position: center;
  transition: all .25s ease-in-out;
}
.thumbnails-image {
  background-image: url('http://i.imgur.com/rFQIZAz.jpg');
  background-size: 150%;
}
.thumbnails-image:hover {
  background-size: 170%;
}
.mascot-image {
  background-image: url('http://i.imgur.com/5PxfJNL.jpg');
  background-size: 100%;
  background-position: 50% 70%;
}
.mascot-image:hover {
  background-size: 120%;
}
.wallpapers-image {
  background-image: url('http://i.imgur.com/4T0DKaA.jpg');
  background-size: 100%;
}
.wallpapers-image:hover {
  background-size: 120%;
}

.image-link::before {
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.70);
  transition: all .15s ease-in-out;
}
.image-link:hover::before {
  background-color: rgba(0, 0, 0, 0.80);
}
.image-link::after {
  content: '';
  position: absolute;
  width:150px;
  height: 180px;
  display: inline-block;
  right:-86px;
  top:-100px;
  background-color: #1B7CBD;
  transform: rotate(45deg);
}
.image-link:hover .view-project::after {
  width:150%;
  left:-25%;
}
.no-price::after {
  display: none;
}
.image-link .image-text {
  line-height: 5vw;
  margin-top: 4vw;
}
.price-tag {
  font-family: 'CPMono_v07_Plain';
  font-size: 26px;
  position: absolute;
  color:white;
  top:10px;
  right: 10px;
  z-index: +5;
}
