.gallery-wrap {
  position: relative;
  display: inline-block;
  z-index: +4;
  width:80%;
  left:10%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.gallery-wrap a {
  position: relative;
  text-decoration: none;
  outline: none;
}
.gallery-image {
  position: relative;
  width:100%;
  margin-left: -4px;
  display: inline-block;
}
.gallery-image-smaller {
  position: relative;
  width:calc(100% / 3);
  margin-left: -4px;
  left:0;
  margin-top: -4px;
}
.slide-cards {
  display: none;
}
.prev, .next {
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size:20px;
  color:white;
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1A7CBD;
  z-index: +5;
  cursor: pointer;
  top:calc(50% - 30px);
  transition: all .15s ease-in-out;
}
.prev:hover, .next:hover {
  background-color: #1469a3;
}
.prev:hover {
  transform: translate(-7px, 0);
}
.next:hover {
  transform: translate(7px, 0);
}
.arrow-wrap {
  position: relative;
  width:100%;
  text-align: center;
  margin-top: 20px;
}
.prev , .next  {
  position: relative;
  display: inline-block;
  transition: all .15s ease-in-out;
}
.prev i, .next i {
  position: relative;
  top:7px;
}

.activeslide {
  position: relative;

  display:block;
}
