@font-face {
    font-family: 'raavi';
    src: url('fonts/raavi.ttf');
}
@font-face {
    font-family: 'DINPro-Regular_13937';
    src: url('fonts/DINPro-Regular_13937.ttf');
}
@font-face {
    font-family: 'DINPro-Bold_13934';
    src: url('fonts/DINPro-Bold_13934.ttf');
}
@font-face {
    font-family: 'raavib';
    src: url('fonts/raavib.ttf');
}
@font-face {
    font-family: 'Arimo';
    src: url('fonts/Arimo-Bold.ttf');
}
body {
  margin:0;
  padding:0;
  background-color: white;
}
block {
  position: relative;
  width:100%;
  display: inline-block;
  height: 60px;
}
nav {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #092130;
  z-index: +111111;
}
.nav-wrap {
  position: relative;
  width:90%;
  left:5%;
}
.nav-btn {
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-family: 'raavi';
  color:white;
  width:7%;
  font-size: 14px;
  line-height: 60px;
  float: right;
  transition: all .15s ease-in-out;
}
.nav-btn span::before {
  content: '';
  position: absolute;
  width:0%;
  bottom: 0;
  left:50%;
  height: 2px;
  background-color: #3977a1;
  border-radius: 40%;
  bottom: -5px;
  transition: all .15s ease-in-out;
}
.nav-btn:hover span::before {
  width:200%;
  left: -50%;
}
.active::after {
  content: '';
  position: absolute;
  left:-50%;
  border-radius: 40%;
  bottom:-5px;
  height: 2px;
  width:200%;
  overflow: visible;
  background-color:#3977a1;
}
.nav-logo {
  position: relative;
  height: 40px;
  top:10px;
}
.banner {
  position: relative;
  width:100%;
  top:0;
  left:0;
  height: 60vh;
  display: inline-block;
  background-color: #0A2C41;
  background-image: url('http://i.imgur.com/HpRSKN0.png');
  background-size:cover;
  background-position: center;
}
.banner::before {
  content: '';
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  background-color: rgba(10, 44, 65, 0.94);
}
.banner-img, .banner-text {
  display: inline-block;
}
.banner-img {
  position: relative;
  border-radius: 50%;
  width:230px;
  top:20vh;
  left:30%;
  height: 230px;
}
.banner-text {
  position: absolute;
  width:53%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'raavi';
  color:white;
  top:29vh;
  font-size: 22px;
  left:47%;
  font-weight: 400;
}
.banner-text span {
  position: relative;
}
.banner-text span::before {
  content: '';
  position: absolute;
  left:9%;
  bottom: 0;
  width:82%;
  height: 2px;
  border-radius: 40%;
  background-color: #3977a1;
}
.cards-wrap {
  position: relative;
  width:100%;
  height: 40vh;
  top:0;
}
.card {
  position: relative;
  width:25%;
  top:4px;
  height: 100%;
  display: inline-block;
  margin-left: -4px;
  left:4px;
  margin-top: -4px;
  vertical-align: top;
}

.nav-btn span{
  position: relative;
}
.nav-btn:hover {
  color: #cbcbcb;
}
.card-icon {
  position: relative;
  left: calc(50% - 50px);
  margin: 0;
  padding: 0;
  top:0;
  width:100px;
  height: 100px;
  background-position: 50% 37%;
  border-radius: 50%;
  margin-top: 4vh;
  background-color: #467299;
  background-size: 270%;
}
.pencil {
  background-image: url('http://i.imgur.com/Xn2HwzY.png');
}
.medal {
  background-image: url('http://i.imgur.com/u1SVC8Q.png');
}
.video {
  background-image: url('http://i.imgur.com/LT3h6qj.png');
}
.screen {
  background-image: url('http://i.imgur.com/716dQFz.png');
}
.card-text {
  position: relative;
  width:80%;
  left:10%;
  padding: 0;
  margin-top:4vh;
  text-align: center;
  color:#467299;
  font-weight: 400;
  font-family: 'DINPro-Regular_13937';
  text-transform: uppercase;
}
.footer {
  position: relative;
  display: block;
  margin: 0;
  background-color: #092130;
}
.footer-col {
  position: relative;
  display: inline-block;
  width:30%;
  margin-left: 3.3%;
  vertical-align: top;
}
.footer-header {
  position: relative;
  background-color: #0A2C41;
  text-transform: uppercase;
  font-family: 'raavib';
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  margin-top: 35px;
  color:white;
  width:50%;
  text-align: center;
  line-height: 60px;

}
form span, input {
  display: block;

}
.input-labels {
  color:white;
  font-family: 'Arimo';
  margin-top: 15px;
  position: relative;
  left: 5px;
  font-weight: 700;
  margin-bottom: 5px;
}
.form-inputs {
  position: relative;
  width:80%;
  background-color: #05141D;
  border:none;
  outline: none;
  line-height: 35px;
  padding-left: 5px;
  color:white;
  font-family: 'arimo';
  font-weight: 700;
  font-size: 19px;
}
input[type="submit"] {
  position: relative;
  border:none;
  width:80%;
  font-family: 'raavib';
  text-transform: uppercase;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #0A2C41;
  color:white;
  line-height: 50px;
  cursor: pointer;
  font-size:20px;
  text-align: center;
}
.footer-links-wrap {
  position: relative;
  width:80%;
  margin-top: 20px;
}
.footer-link {
  position: relative;
  width: 80%;
  font-family: 'raavib';
  text-decoration: none;
  color:#1F586D;
  display: block;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 35px;
  transition: all .15s ease-in-out;
}
.footer-link:hover {
  color:white;
}
.footer-bar {
  position: relative;
  width:50%;
  left:25%;
  text-align: center;
  padding-bottom: 20px;
}
.bar-link {
  position: relative;
  color:#1F586D;
  text-align: center;
  text-decoration: none;
  font-family: 'raavib';
  font-size: 15px;
  text-transform: uppercase;
  width: calc(100% / 6);
  display: inline-block;
  margin-left: -4px;
  line-height: 40px;
  left:4px;
  transition: all .15s ease-in-out;
}
.bar-link:hover {
  color:white
}
.copyright-bar {
  position: relative;
  width:100%;
  text-align: center;
  padding-bottom: 10px;
  padding-bottom: 20px;
}
.copyright-text {
  color:white;
  font-family: 'arimo';
  color:#1F586D;
  font-weight:400;
  text-transform: uppercase;
}
.copyright-text b {
  font-weight: 700;
  font-size: 25px;
  vertical-align: middle;
  position: relative;
  top:-2px;
}
.about-button {
  text-decoration: none;
  outline:none;
}
